.plume {
    background-color: #141519;
}

.bottombar {
    background-color: blue;
}

.bar-button {
    background-color: green;
    font-family: "Whitney"; 
    font-size: 16px;
    color: #feffff;
    border-radius: 32px;
}

.home {
    background-color: yellow;
}

.calendar {
    background-color: #ffffff;
}

.calendar-header {
    
}

.calendar-header-date {
    font-family: "Whitney"; 
    font-size: 24px;
}

.calendar-header-button {
    border: none;
    background-color: #a1a1a1;
    border-radius: 15px;
}

.calendar-header-button-today {
    background-image: url(":/calendar.png");
}

.calendar-header-button-settings {
    background-image: url(":/three-dots.png");
}

.calendar-scroll {
    border: none;
}

.calendar-day .calendar-hour {
    font-family: "Whitney";
    font-size: 12px;
    color: #feffff;
}

.calendar-event {
    background-color: gray;
    border-radius: 5px;
}

.calendar-event-title .calendar-event-desc .calendar-event-location {
    font-family: "Whitney"; 
    font-size: 12px;
    color: #feffff;
}

.calendar-event-title {
    font-size: 14px;
}

.calendar-event-td {
    background-color: greenyellow;
}

.calendar-event-tp {
    background-color: red;
}

.calendar-event-cm {
    background-color: lightblue;
}

.calendar-event-pr {
    
}

.calendar-event-edt {
    
}

.mail {
    background-color: red;
}
