.plume {
    background-color: #141519;
}

.bottombar {
    background-color: blue;
}

.bar-button {
    background-color: green;
    font-family: "Whitney"; 
    font-size: 16px;
    color: #ffffff;
    border-radius: 32px;
}

.home {
    background-color: yellow;
}

.calendar {
    background-color: #ffffff;
}

.calendar-header {
    
}

.calendar-header-date {
    font-family: "Whitney"; 
    font-size: 24px;
}

.calendar-header-button {
    border: none;
    border-radius: 20px;
}

.calendar-scroll {
    border: none;
}

.calendar-day .calendar-hour {
    font-family: "Whitney";
    font-size: 12px;
    color: #ffffff;
}

.calendar-event {
    background-color: gray;
    border-radius: 5px;
}

.calendar-event-title .calendar-event-desc .calendar-event-location {
    font-family: "Whitney"; 
    font-size: 12px;
    color: #ffffff;
}

.calendar-event-title {
    font-size: 14px;
}

.calendar-event-td {
    background-color: greenyellow;
}

.calendar-event-tp {
    background-color: red;
}

.calendar-event-cm {
    background-color: lightblue;
}

/*.calendar-event-pr {
    
}

.calendar-event-edt {
    
}*/

.calendar-event-page {
    background-color: #ffffff;
}

QScrollArea > QWidget > QWidget { background: #ffffff; }

.calendar-event-page-header {
    background-color: #f69f1c;
}

.calendar-event-page-title {
    font-family: "Whitney"; 
    font-size: 30px;
    color: #ffffff;
}

.calendar-event-page-subtitle {
    font-family: "Whitney"; 
    font-size: 24px;
    font-weight: 800;
    color: #f69f1c;
    margin-bottom: 0;
}

.calendar-event-page-line {
    background-color: #f69f1c;
    margin-bottom: 8px;
}

.calendar-event-page-info {
    font-family: "Whitney"; 
    font-size: 18px;
    color: black;
    background-color: #ffffff;
}

.calendar-event-page-info-icon {
    
}

.calendar-event-page-info-time .calendar-event-page-description-content {
    font-family: "Whitney"; 
    font-size: 16px;
    color: #414141;
}

.calendar-event-page-description-content {
    margin-left: 7px;
}

.calendar-settings-content {
    background-color: #a0a0a0;
}

.mail {
    background-color: red;
}
